.body {
    padding: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: white;
    border-radius: 15px;
    border: 1px solid #1976d2;
    cursor: pointer;
}

.body__input input{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    border-radius: 15px;
    border: 1px solid #1976d2;
    height: 50px;
    width: 310px;
    padding: 10px;
}

.body__drag {
    height: 67px;
    background: white;
    border-radius: 15px;
    border: 1px solid #1976d2;
    opacity: 0.3;
}