html[data-theme='dark'] {
  --button-background-color: #4e005c;

  --background-color: #848484;
}

html[data-theme='light'] {
  --button-background-color: #252525;

  --background-color: white;
  /* #dfdfdf */
}



body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color);
  transition: background-color 200ms linear;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

._container {
  max-width: 1335px;
  width: 100%;
  padding: 20px 15px;
  margin: 0 auto;
  box-sizing: border-box;
  min-height: calc(100vh - 145px);
}

._container-sprint {
  width: 100%;
  padding: 20px 15px;
  margin: 0 auto;
  box-sizing: border-box;
  min-height: calc(100vh - 145px);
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 42px;
}

a {
  text-decoration: none;
  text-transform: none;
  color: black;
}

@media (max-width: 700px) {
  h1 {
    font-size: 30px;
    color: #1F1A2D;
  }
  
  h2 {
    font-size: 24px;
  }
}

.header-none {
  display: none;
}

@media (max-width: 599px) {
  .header-none {
    display: block;
  }
}

.theme__body {
  display: flex;
  flex-direction: row;
  padding: 7px;
  border-radius: 10px;
  border: 1px solid #292929;
  gap: 10px;
  margin-right: 30px;
}

.theme__item {
  cursor: pointer;
}

.theme__item:hover {
  opacity: 0.5;
}
